.footer{
    background: rgb(251, 127, 2);
}
.navbar{
    background-color:rgb(255, 255, 255) ;
}
.top{
    font-size: 1oopx;
    text-align: center;
    color: rgb(104, 104, 104);
}
.body{
    background-color: rgb(232, 164, 37);
}
